@page "{id:int}"
@model AirBook.Pages.Reservas.DeleteModel
@{
    ViewData["Title"] = "Eliminar Reserva";
}

<h1>Eliminar Reserva</h1>

<h3>¿Está seguro que desea eliminar esta reserva?</h3>
<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reserva.Pasajero.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reserva.Pasajero.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reserva.Vuelo.NumeroVuelo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reserva.Vuelo.NumeroVuelo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reserva.FechaReserva)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reserva.FechaReserva)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reserva.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reserva.Estado)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Reserva.IdReserva" />
        <button type="submit" class="btn btn-danger">Eliminar</button> |
        <a asp-page="./Index">Cancelar</a>
    </form>
</div>